.c {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
  max-width: 980px;
  top: 0;
  width: 100%;
  font-size: 22px;
  color: #0c0c0c;
}

.c-name {
  font-weight: 550;
}

.c-sub {
  font-weight: 300;
}

@media (max-width: 600px) {
  .c {
    max-width: 90%;
  }
}
