@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

body {
  /* font-family: Dosis, sans-serif; */
  font-family: "Crimson Text", serif;
}

.App {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.imgLink {
  display: flex;
  justify-content: center;
  width: 100%;
}
